* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7480;
    transition: 0.3s;
}

.logo {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    top: 130px;
    text-shadow: 2px 2px 13px #333;
}

.logo img {
    width: 8%;
}

.container {
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
    width: 320px;
}

.timer {
    font-size: 3rem;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
}

.edit-time {
    border: none;
    background-color: transparent;
    font-size: 22.5px;
    cursor: pointer;
}

:hover.edit-time {
    background-color: transparent;
}

.blinking {
  animation: smoothBlink 1.2s ease-in-out infinite;
}

@keyframes smoothBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

.action-timer-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.pause-button {
    padding: 20px 25px;
    border: none;
    border-radius: 10px;
    background: #80ff9f;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.play-button {
    padding: 20px 25px;
    border: none;
    border-radius: 10px;
    background: #80ff9f;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.stop-button {
    padding: 20px 25px;
    border: none;
    border-radius: 10px;
    background: #80ff9f;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #b2ffc5;
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}